PORT=5000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=SVishal@2004
DB_NAME=expense_tracker
DB_PORT=3306

# JWT_SECRET=replace_this_with_a_long_random_secret_string

JWT_SECRET=openssl rand -hex 32
JWT_EXPIRES_IN=7d
